@{
    ViewData["Title"] = "Accueil";
}

<div class="text-center">
    <h1 class="display-4">Accueil</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <h2>Présention</h2>
    <p>Réaliser par Hugo FERREIRA SILVA</p>
    <p>Projet architecture logicielle : développer une application web en utilisant la technologie ASP.Net Core de Microsoft.</p>
    <p>Cette application nous permettra de de consulter en temps réel, la disponibilité des vélos et places dans les stations VCub de Bordeaux et son agglomération.</p>
</div>
